body{
  background-image: url("../img/alita bb/Screenshot_20200506_190633.jpg");
  background-size: auto;
  background-position: top left;
}

.modal-content{
  background: rgba(0,0,0,0.5) !important;
  border: 1px solid #daf1ff !important;
}

.text-left{
  font-size: 19px;
  font-weight: bold;
  color: #f1f1f1 !important;
}

.form-group input{
    background: #262626 !important;
    color: #ffffff !important;
}

.main-section{
  margin:0 auto;
  margin-top: 130px
}
.modal-content{
  background: rgba(127, 127, 127, 0.5);
  padding: 0 18px;
  border-radius: 10px;
}

.form-group{
  margin-bottom: 25px;
}

.form-group input{
  height: 42px;
  border-radius: 5px;
  border: 0;
  letter-spacing: 2px;
  padding-left: 54px;
}

.form-input button{
  width: 100%;
  margin: 5px 0 25px 10px;
}

.form-input a{
  width: 100%;
  margin: 5px 0 25px 10px;
}


.btn-success{
  background-color: #1c6288 !important ;
  font-size: 19px;
  border-radius: 5px;
  border: 1px solid #daf1ff;
}
.btn-success:hover{
  background-color: #13445e !important;
  border: 1px solid #daf1ff;
}
