.sliders{
  position: absolute;
  left: 60%;
  top: 35%;
  width: 50%;
  height: 60%;
}

.mySlides{
  position: relative;
  width: 32.5%;
  height: 100%;
  color: white;
  margin: 0;
  padding: 0;
  display: inline-block;

}

.mySlides img {
  width: 100%;
  height: 80%;
  border-radius: 3px;
}

.mySlides{
  display: none;
}

.fade{
 -webkit-animation-name:fade;
 -webkit-animation-duration:1.5s;
 animation-name:fade;
 animation-duration:1.5s;
}

@-webkit-keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}

@keyframes fade{
 from{opacity:.4}
 to{opacity:1}
}

.text{
 color: #fff;
 font-size:24px;
 position:absolute;
 bottom: 33px;
 width:100%;
 text-align:center;
 text-transform: uppercase;
}
